@import 'https://storage.googleapis.com/code.getmdl.io/1.3.0/material.indigo-pink.min.css';
@import 'https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://pro.fontawesome.com/releases/v5.10.0/css/all.css';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800&display=swap';