.main-content.catalogos-digitales {
  .c-catalogos-digitales-main {
    .catalogo-items {
      .catalogo-item {
        @include base-conteiner-cards-w-trans($titleSize: $font-size_18);

        .info {
          width: 100%;

          h2 {
            color: $color_white;
          }

          .c-buttons {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;

            a {
              i {
                margin: 0px;
              }
            }

            .open-modal{
              display: none;
            }
          }
        }
      }
    }
  }
  .modal_catalogo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
    z-index: -1;
    opacity: 0;
    background: $color_black-t9;

    &.active {
      z-index: 99999;
      opacity: 1;
    }

    .modal-data {
      width: 90%;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 90vh;

      .close-modal {
        font-size: 20px;
        outline: none;
        border-radius: 50px;
        border: none;
        height: 40px;
        width: 40px;
        background: $color_secundary;
        color: $color_white;
        font-weight: 600;
        position: absolute;
        right: 0px;
        top: -20px;
      }

      embed {
        width: 100%;
        height: 100%;
      }
    }
  }

  @media only screen and (min-width: 720px) {
    .c-catalogos-digitales-main {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .catalogo-items {
        .catalogo-item {
          .c-buttons {
            .open-modal{
              display: block!important;
            }
          }
        }
      }
    }
  }

}
