.main-content.home {
  padding-top: 50px;

  .c-main-banner {
    background: $color_third;
    padding-top: 100px;
    height: inherit;

    .c-banner-text {
      padding: 30px 0px 0px;
      h1 {
        width: 100%;
        text-align: center;
        color: $color_white;
        margin: 0 auto;
        font-size: $font-size_24;
        font-weight: 200;

        span {
          font-size: $font-size_18;
          font-weight: 600;
        }
      }

      a {
        @include base-link-button($bgColor: $color_secundary);
      }
    }

    .c-banner-image {
      width: 80%;
      padding: 20px 0px 0px 0px;
      margin: 0 auto;
      text-align: center;

      img {
        bottom: 0px;
        max-width: 450px;
      }
    }
  }
  .c-lasted-added {
    @include base-conteiner-slider-products(
      $titleColor: $color_third,
      $titleSize: $font_size-25,
      $bgColorButton: $color_secundary
    );
  }
  .c-about-us {
    @include base-conteiner-block-w-image-bg(
      $titleColor: $color_secundary,
      $bgImage: "assets/images/global/backgrounds/bgr-gray-vertical.svg",
      $titlePadding: 0px 25px 20px 25px,
      $titleSize: $font_size-25
    );
    .c-items-about-us {
      margin: 0 auto;

      .about-us-item {
        @include base-small-card(
          $cardMargin: 10px auto,
          $cardPadding: 20px 0px 20px 0px,
          $cardBGColor: transparent
        );

        h3 {
          color: $color_secundary;
          font-weight: 700;
          padding: 0px 10px;
          font-size: $font-size_20;
        }
        img {
          width: 150px;
        }
      }
    }
  }
  .c-owr-clients {
    @include base-conteiner-block(
      $bgColor: $color_secundary,
      $titleColor: $color_white,
      $titleSize: $font_size-25
    );

    .owr-clients-items {
      display: flex;
      flex-wrap: wrap;
      width: 95%;
      margin: 0 auto;

      .owr-clients-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        margin: 5px;
        height: 90px;
        padding: 5px;

        img {
          max-width: 120px;
        }

        &:nth-child(6) {
          img {
            width: 90px;
          }
        }
        &:nth-child(5) {
          img {
            width: 95px;
          }
        }
      }
    }
  }
  .c-distribuidores {
    padding: 20px 0px 0px 0px;
    background: url("assets/images/global/backgrounds/bgr-pink-vertical.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .c-distribuidores-image {
      width: 50%;
      margin: 0 auto;
      position: relative;
      bottom: -3px;
      text-align: center;

      img {
        padding: 20px 0px 0px 0px;
        max-width: 180px;
      }
    }
    .c-distribuidroes-info {
      p {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        font-weight: 600;
        color: $color_white;
      }
      a {
        @include base-link-button(
          $bgColor: $color_white,
          $textColor: $color_fourth
        );
      }
    }
  }
  @media only screen and (min-width: 768px) {
    .c-main-banner {
      .c-banner-text {
        padding: 30px 0px 0px;
        h1 {
          font-size: $font-size_35;
          span {
            font-size: $font-size_25;
          }
        }

        a {
          @include base-link-button($bgColor: $color_secundary);
        }
      }
    }
    .c-owr-clients {
      padding: 50px 0px;
      .owr-clients-items {
        .owr-clients-item {
          img {
            max-width: 150px;
          }

          &:nth-child(6) {
            img {
              width: 100px;
            }
          }
          &:nth-child(5) {
            img {
              width: 115px;
            }
          }
        }
      }
    }
    .c-distribuidores {
      .c-distribuidroes-info {
        p {
          font-size: $font-size_20;
        }
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    .c-main-banner {
      display: flex;
      justify-content: space-around;
      flex-flow: row-reverse;
      align-items: center;

      .c-banner-text {
        width: 59%;
        padding: 0px;
        margin: 0px;
        height: fit-content;

        h1 {
          font-size: $font-size_45;

          span {
            font-size: $font-size_35;
          }
        }
      }

      .c-banner-image {
        width: 39%;
        padding: 0px;
        margin: 0px;
      }
    }
    .c-main-slider {
      .c-slider {
        .slick-list {
          .slider-item {
            height: 300px;
          }
        }
      }
    }
    .c-about-us {
      @include base-conteiner-block-w-image-bg(
      $titleColor: $color_secundary,
      $bgImage: "assets/images/global/backgrounds/bgr-gray-horizontal.svg",
    );

      .c-items-about-us {
        display: flex;
        justify-content: space-around;

        .about-us-item {
          width: 24%;
        }
      }
    }
    .c-owr-clients {
      .owr-clients-items {
        width: 90%;
        margin: 0 auto;
        max-width: 1024px;
        .owr-clients-item {
          justify-content: center;

          img {
            max-width: 190px;
          }

          &:nth-child(6) {
            img {
              width: 120px;
            }
          }
          &:nth-child(5) {
            img {
              width: 135px;
            }
          }
        }
      }
    }

    .c-distribuidores {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background: url("assets/images/global/backgrounds/bgr-pink-horizontal.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      .c-distribuidroes-info {
        width: 59%;
        height: fit-content;
      }
      .c-distribuidores-image{
        width: 29%;
        bottom: -5px;
        margin: 0px;
        
        img{
          max-width: 240px;
        }
      }
    }
  }
}
